

.dashboard-container {
    display: flex;
    height: 100vh; 
  }
  
  .sidebar-container {
    width: 90px; 
    height: 100%;
  }
  
  .main-container {
    flex-grow: 0.8; 
    margin-left: 200px; 
    padding: 0 20px; 
  }